<div class="table-container">
<p-table
  [value]="vaccines"
  [rowHover]="true">
  <ng-template pTemplate="caption">
    <h5 class="m-0 text-color text-center">Vaccins</h5>
  </ng-template>
  <ng-template pTemplate="header">
    <th>Rappel</th>
    <th>Maladie</th>
    <th>Actions</th>
  </ng-template>
  <ng-template pTemplate="body" let-vaccine>
    <tr>
      <td *ngIf="!updateEnabled">{{ vaccine.lastBooster | date : "MM/YY"}}</td>
      <td *ngIf="updateEnabled">
        <div class="grid p-fluid">
          <div class="p-inputgroup">
            <p-calendar appendTo="body" [(ngModel)]="updatedDate" id="dateUpdateBooster" class="w-full ng-invalid" (onSelect)="onDateSelect($event)" placeholder='{{vaccine.lastBooster | date : "dd/MM/YY"}}'></p-calendar>
            <button type="button" pButton pRipple icon="pi pi-save" (click)="update(vaccine.id)"></button>
          </div>
        </div>


      </td>
      <td>{{ vaccine.disease | enumDisease }}</td>
      <td id="button">
        <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-trash" (click)="confirm($event, vaccine.id)"></button>
        <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-pencil" (click)="updateEnabled=true"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="create()">
    <span class=p-float-label>
      <p-dropdown [options]="diseases" optionLabel="value" optionValue="key" id="disease" formControlName="disease"></p-dropdown>
      <label for="disease">Maladie</label>
    </span>
    <span class="p-float-label ml-3 mr-3">
      <p-calendar formControlName="dateBooster" id="dateBooster" class="w-full ng-invalid"></p-calendar>
      <label for="dateBooster">Dernier rappel</label>
    </span>
    <button pButton type="submit" label="Enregistrer" [disabled]="!form.valid"></button>
  </form>
</div>
