<p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
<br>
<p-table
  [value]="tab"
  [rows]="10"
  [paginator]="true"
  [rowHover]="true">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="lastName">Nom <p-sortIcon field="lastName"></p-sortIcon></th>
      <th pSortableColumn="firstName">Prénom <p-sortIcon field="firstName"></p-sortIcon></th>
      <th>Téléphone</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.lastName}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.phoneNumber}}</td>
      <td></td>
    </tr>
  </ng-template>
</p-table>
