
<form [formGroup]="form" (ngSubmit)="create()">
  <h3 class="text-color">Agressivité:</h3>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown  [options]="submissivePositionOption" formControlName="submissivePosition" optionLabel="label" optionValue="value" id="submissivePosition"></p-dropdown>
    <label for="submissivePosition">Position de soumission: </label>
  </span>
    <p>{{form.controls['submissivePosition'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3" >
    <p-dropdown [options]="agressivityWithHumanOption" formControlName="withFamiliarHuman" optionLabel="label" optionValue="value" id="withFamiliarHuman"></p-dropdown>
    <label for="withFamiliarHuman">Avec humains familiers: </label>
  </span>
    <p>{{form.controls['withFamiliarHuman'].value}}</p>
  </div>
  <div class="dropdown-container">
    <span class="p-float-label mt-3">
      <p-dropdown [options]="agressivityWithHumanOption" formControlName="withStranger" optionLabel="label" optionValue="value" id="withStranger"></p-dropdown>
      <label for="withStranger">Avec humains étrangers: </label>
    </span>
    <p>{{form.controls['withStranger'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="agressivityWDogs" formControlName="withDogs" optionLabel="label" optionValue="value" id="withDogs"></p-dropdown>
    <label for="withDogs">Avec les chiens: </label>
  </span>
    <p>{{form.controls['withDogs'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="agressivityWAnimals" formControlName="withOtherAnimals" optionLabel="label" optionValue="value" id="withOtherAnimals"></p-dropdown>
    <label for="withOtherAnimals">Avec les autres animaux: </label>
  </span>
    <p>{{form.controls['withOtherAnimals'].value}}</p>
  </div>
  <h3 class="text-color">Anxiété:</h3>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="anxietyStayAlone" formControlName="stayingAlone" optionLabel="label" optionValue="value" id="stayingAlone"></p-dropdown>
    <label for="stayingAlone">Pour rester seul: </label>
  </span>
    <p>{{form.controls['stayingAlone'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="affrayedOption" formControlName="affrayed" optionLabel="label" optionValue="value" id="affrayed"></p-dropdown>
    <label for="affrayed">Peur de certaines situations: </label>
  </span>
    <p>{{form.controls['affrayed'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="contactWHumanOption" formControlName="contactWHumans" optionLabel="label" optionValue="value" id="contactWHumans"></p-dropdown>
    <label for="contactWHumans">Contact avec les humains: </label>
  </span>
    <p>{{form.controls['contactWHumans'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="contactWanimalsOption" formControlName="contactWAnimals" optionLabel="label" optionValue="value" id="contactWAnimals"></p-dropdown>
    <label for="contactWAnimals">Contact avec les animaux: </label>
  </span>
    <p>{{form.controls['contactWAnimals'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="adaptabilityOption" formControlName="adaptability" optionLabel="label" optionValue="value" id="adaptability"></p-dropdown>
    <label for="adaptability">Adaptabilité: </label>
  </span>
    <p>{{form.controls['adaptability'].value}}</p>
  </div>
  <h3 class="text-color">Attachement</h3>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="attachementOption" formControlName="attachement" optionLabel="label" optionValue="value" id="attachement"></p-dropdown>
    <label for="attachement">Attachement au groupe: </label>
  </span>
    <p>{{form.controls['attachement'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="separationOption" formControlName="separation" optionLabel="label" optionValue="value" id="separation"></p-dropdown>
    <label for="separation">Réaction à la séparation: </label>
  </span>
    <p>{{form.controls['separation'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="restPlaceOptions" formControlName="restPlace" optionLabel="label" optionValue="value" id="restPlace"></p-dropdown>
    <label for="restPlace">Lieu de repos actuel: </label>
  </span>
    <p>{{form.controls['restPlace'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="explorationOption" formControlName="exploration" optionLabel="label" optionValue="value" id="exploration"></p-dropdown>
    <label for="exploration">Contact - Exploration: </label>
  </span>
    <p>{{form.controls['exploration'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="tendernessOption" formControlName="tenderness" optionLabel="label" optionValue="value" id="tenderness"></p-dropdown>
    <label for="tenderness">Manifestations de tendresse: </label>
  </span>
    <p>{{form.controls['tenderness'].value}}</p>
  </div>
  <h3 class="text-color">Autocontrôles</h3>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="vocalizeOption" formControlName="vocalize" optionLabel="label" optionValue="value" id="vocalize"></p-dropdown>
    <label for="vocalize">Vocalises (aboie, gémit,...): </label>
  </span>
    <p>{{form.controls['vocalize'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="jumpOnPeopleOption" formControlName="jumpOnPeople" optionLabel="label" optionValue="value" id="jumpOnPeople"></p-dropdown>
    <label for="jumpOnPeople">Saute sur les gens: </label>
  </span>
    <p>{{form.controls['jumpOnPeople'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="destructOption" formControlName="destruct" optionLabel="label" optionValue="value" id="destruct"></p-dropdown>
    <label for="destruct">Détruit des objets: </label>
  </span>
    <p>{{form.controls['destruct'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="scratchesBruisesOption" formControlName="scratchesBruises" optionLabel="label" optionValue="value" id="scratchesBruises"></p-dropdown>
    <label for="scratchesBruises">Egratignures ou bleus: </label>
  </span>
    <p>{{form.controls['scratchesBruises'].value}}</p>
  </div>
  <div class="dropdown-container">
      <span class="p-float-label mt-3">
    <p-dropdown [options]="excitationOption" formControlName="excitation" optionLabel="label" optionValue="value" id="excitation"></p-dropdown>
    <label for="excitation">Moments d'excitations: </label>
  </span>
    <p>{{form.controls['excitation'].value}}</p>
  </div>

  <button pButton type="submit" label="Enregistrer" [disabled]="!form.valid"></button>
</form>
