#chartcontainer{
  width: 75%;
  height: 75%;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 576px) {
  form{
    width: 100%;
    margin-top: 1rem;
  }
  #chartcontainer{
    width: 100%;
  }

}
