<h1>{{dog.firstName}}</h1>
<div *ngFor="let e of actionPlanForm?.exercices, index as i">
  <p class="text-color">Exercice {{i}}</p>
  <p class="text-color-secondary">Nom: {{e.name}}</p>
  <p class="text-color-secondary">Description: {{e.description}}</p>
</div>

<form [formGroup]="exerciceForm" (ngSubmit)="add()">
  <span class="p-float-label">
    <input pInputText formControlName="name" id="name" class="ng-invalid">
    <label for="name">Nom: </label>
  </span>
  <span class="p-float-label">
    <input pInputTextarea formControlName="description" id="description" class="ng-invalid">
    <label for="description">Description</label>
  </span>
  <button pButton type="submit" label="Ajouter" icon="pi pi-plus" [disabled]="!exerciceForm.valid"></button>
</form>
<button pButton type="button" label="Sauvegarder" icons="pi pi-save" (click)="create()"></button>

