    <form [formGroup]="dogForm" (ngSubmit)="update()">

        <span class="p-float-label mb-5" id="span-firstname">
          <input pInputText formControlName="firstName" id="firstname" class="ng-invalid">
          <label for="firstname">Prénom</label>
          <ng-container *ngIf="dogForm.get('firstName')?.invalid && dogForm.get('firstName')?.touched">
            <small class="p-error">Champs requis</small>
          </ng-container>
        </span>
        <span class="p-float-label mb-5" id="span-lastname">
          <input pInputText formControlName="lastName" id="lastname">
          <label for="lastname">Nom</label>
        </span>
      <span class="p-float-label mb5" id="span-dateofbirth">
        <p-calendar formControlName="dateOfBirth" dateFormat="dd/mm/yy" id="dateOfBirth" styleClass="p-datepicker-calendar" class="ng-invalid" (onSelect)="onDateSelect($event)"></p-calendar>
        <label for="dateOfBirth">Date de Naissance</label>
      </span>

      <div id="sex-container">
        <p class="text-color-secondary mr-3">Sexe: </p>
        <p-radioButton class="text-color-secondary mr-3" name="sex" value="Mâle" label="Mâle" formControlName="sex"></p-radioButton>
        <p-radioButton class="text-color-secondary mr-5" name="sex" value="Femelle" label="Femelle" formControlName="sex"></p-radioButton>
      </div>
      <div id="sterilized_container">
        <p class="text-color-secondary mr-2">Est stérilisé </p>
        <p-checkbox formControlName="isSterilized" [binary]="true"></p-checkbox>
      </div>
      <button pButton type="submit" label="Enregistrer" [disabled]="!dogForm.valid"></button>
    </form>
