
    <h1 class="text-color text-center">Enregistrer un chien</h1>
    <form [formGroup]="dogForm" (ngSubmit)="update()" class="w-full flex flex-wrap row justify-content-between align-items-center">
      <span class="p-float-label w-5 mb-5">
        <input pInputText formControlName="firstName" id="firstname" class="w-full ng-invalid">
        <label for="firstname">Prénom</label>
      </span>
      <span class="p-float-label w-5 mb-5">
          <input pInputText formControlName="lastName" id="lastname" class="w-full ng-invalid">
          <label for="lastname">Nom</label>
      </span>
      <span class="p-float-label w-5 mb-5">
        <p-calendar formControlName="dateOfBirth" id="dateOfBirth" class="w-full ng-invalid"></p-calendar>
        <label for="dateOfBirth">Date de Naissance</label>
      </span>
      <div class="w-full flex row justify-content-start align-items-center">
        <p class="text-color-secondary mr-3">Sex: </p>
        <p-radioButton class="text-color-secondary mr-3" name="sex" value="Mâle" label="Mâle" formControlName="sex"></p-radioButton>
        <p-radioButton class="text-color-secondary mr-5" name="sex" value="Femelle" label="Femelle" formControlName="sex"></p-radioButton>
        <p class="text-color-secondary mr-2">Est stérilisé </p>
        <p-checkbox formControlName="isSterilized" [binary]="true"></p-checkbox>
      </div>
      <button pButton type="submit" label="Enregistrer" [disabled]="!dogForm.valid"></button>
    </form>
