<form [formGroup]="breedForm" (ngSubmit)="create()">
  <span class="p-float-label w-15rem">
    <input pInputText formControlName="name" id="name" class="w-full ng-invalid">
    <label for="name">Nom</label>
  </span>

  <span class="p-float-label mt-5">
    <p-dropdown formControlName="raceGroup" [options]="raceGroups" optionLabel="value" optionValue="key" id="raceGroup"></p-dropdown>

    <label for="raceGroup">Groupe de races</label>
  </span>
  <span class="p-float-label mt-5">
    <p-dropdown formControlName="size" [options]="dogSizes" optionLabel="value" optionValue="key" id="size"></p-dropdown>
    <label for="size">Taille</label>
  </span>
  <span class="p-float-label mt-5">
    <textarea pInputTextarea formControlName="temperament" id="temperament"></textarea>
    <label for="temperament">Tempérament</label>
  </span>
  <div id="button-container">
    <button pButton icon="pi pi-save" type="submit" label="Enregistrer" [disabled]="!breedForm.valid"></button>
  </div>

</form>
