form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 75%;
  margin-top: 1rem;
}
:host ::ng-deep .p-dropdown{
  margin-right: 2rem;
  width: 15rem;
}

textarea{
  width: 15rem;
}

#button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
