<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<div *ngIf="selectedDog" class="overlay" (click)="hideBreed()"></div>
<div class="w-full flex row justify-content-evenly align-items-start pt-4">
  <div class="surface-card shadow-2 p-4" *ngIf="selectedDog" id="overlay">
    <h1 class="text-color">{{selectedDog.breed.name}}</h1>
    <p class="text-color-secondary">Groupe: {{selectedDog.breed.raceGroup| enumRace}}</p>
    <p class="text-color-secondary">Taille: {{selectedDog.breed.size | enumSize}}</p>
    <p class="text-color-secondary">Tempérament: {{selectedDog.breed.temperament}}</p>
  </div>
  <div id="personnal-info">
    <h1 class="text-center text-color">{{person?.firstName}} {{person?.lastName}}</h1>
    <p class="text-color-secondary">Email: {{person?.email}}</p>
    <p class="text-color-secondary">Téléphone: {{person?.phoneNumber}}</p>
    <p class="text-color-secondary">Genre: {{person?.gender}} </p>
    <p class="text-color-secondary">rue: {{person?.street}} N°: {{person?.number}} Boite: {{person?.box}}</p>
    <p class="text-color-secondary">Code Postal: {{person?.zip}} Localité: {{person?.city}} Pays: {{person?.country}}</p>
    <div id="button-container">
      <button pButton type="button" class="p-button-raised" icon="pi pi-pencil" label="Mettre à jour" (click)="showUpdate()"></button>
      <button pButton type="button" class="p-button-raised" icon="pi pi-trash" label="Supprimer" (click)="confirm($event)"></button>
      <button pButton type="button" class="p-button-raised" icon="pi pi-user-plus" label="Créer un compte" (click)="create()"></button>
      <button pButton type="button" class="p-button-raised" icon="pi pi-user-minus" label="Supprimer le compte" (click)="confirmAccount($event)"></button>
      <button pButton type="button" class="p-button-raised" icon="pi pi-plus" label="Ajouter un chien" [routerLink]="['/chien/create', person?.id]"></button>
    </div>

  </div>
  <div class="surface-card p-4 shadow-2 w-5">
    <p-carousel [value]="dogs">
      <ng-template let-dog pTemplate="item">
        <p-button styleClass="p-button-link" [routerLink]="['/chien/one', dog.id]"><h1 class="text-color">{{dog.firstName}} {{dog.lastName}}</h1></p-button>
        <p class="text-color-secondary">Date de Naissance: {{dog.dateOfBirth | date: 'dd/MM/YY'}}</p>
        <p class="text-color-secondary">Sexe: {{dog.sex}} Stérilisé: {{dog.isSterilized}}</p>
        <div class="flex row justify-content-start align-items-center w-full">
          <div class="text-color-secondary vertical-align-middle">Race: </div>
          <p-button label="{{dog.breed.name}}" styleClass="p-button-link" (click)="showBreed(dog)"></p-button>
        </div>
        <p class="text-color-secondary">{{weightMap.get(dog.id)}} Kg</p>
      </ng-template>
    </p-carousel>
  </div>
</div>


