<canvas id="diagnosticChart">{{chart}}</canvas>
<p-accordion *ngFor="let d of diagnostics, index as i">
    <p-accordionTab [header]="d.date.toString()">
      <h3>Agressivité: {{agressivityScore[i]}}</h3>
      <h3>Anxiété: {{anxietyScore[i]}}</h3>
      <h3>Attachement: {{attachementScore[i]}}</h3>
      <h3>Autocontrôles: {{autocontrolsScore[i]}}</h3>
      <button pButton type="button" class="p-button-raised" icon="pi pi-trash w-4" label="Supprimer" (click)="delete(d.id)"></button>
    </p-accordionTab>
</p-accordion>
